<div id="wrapper">
  <div id="breadcrumbs"><%= link_to("Home", poems_path) + " - " + @poem.title.titleize %></div>

  <h1><%= @poem.title.titleize %></h1>

  <p id="author">By <%= @poem.author.titleize %></p>

  <%= simple_format(@poem.body) %>

  <a id="source" href="<%= @poem.source %>" target="_blank">Source</a>
</div>